body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.containerx {
    display: flex;
    margin: 20px;
}

.left-column {
    flex: 1;
    padding: 20px;
}

.right-column {
    flex: 3;
    padding: 20px;
    background-color: #f0f0f0;
}

.person-info {
    text-align: center;
}

.person-photo {
    max-width: 70%;
    border-radius: 50%;
}

.person-name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.person-title {
    font-style: italic;
}

.research-info {
    margin-top: 20px;
}

.contact-info{
    margin-top: 20px;
}

.intro {
    font-size: 16px;
    line-height: 1.5;
}

.section-header {
    font-size: 18px;
    font-weight: bold;
}

.list-item {
    margin-bottom: 10px;
    text-align: justify
}

.list-content {
    margin-left: 30px;
}


.part {
    margin-top: 20px;
}

.part-content{
    display: none;
}

.part-boundray{
    border:1px solid #CCC;
    margin-bottom: 6px;
    margin-top: 6px;
}

.title-header{
    font-size: 18px;
    font-weight: bold;
    display: inline;
}

button{
    float: right;
}


.student-box {
    width: 220px;
    height: 150px;
    border: 2px solid rgb(174, 167, 167);
    padding: 10px;
    margin: 10px;
  }